[Unit]
Description=RS Repo Backend

[Service]
ExecStart=./start.sh
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/node/backend

[Install]
WantedBy=multi-user.target