/*background*/
.WelcomePage  {
  background-image: url('./images/background.jpg');
  height: 100%; /* You must set a specified height */
   /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  
}

/* Padding for spacing */
.main {
  background-color: rgba(11, 3, 3, 0.7);
  color: white;
  margin-top: 200px;
  height: 50%;
  position: relative;
}

.content-welcome{
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 8%;
}

.image-welcome{
  margin-top: 10%;
}
