
.root{
    color: #064675;
}
.nav{

    height: 90px;
    background-color: white;
}

.nav img{
    float:left;
    margin-left: 40px;
    height: 140px;
    width: 140px;
    background-color: #064675
}


.nav :nth-child(2){
    display: inline-block;
    padding-top: 18px;
    margin-left: 30px;
    color:#064675;
}


#title{
    height: 156px;
    background-color: #0e3149;
}
#title div{

    color: white;
    font-size: 50px;
    font-family: "Helvetica";
    font-weight: 100;
    margin-left: 362px;
    padding-top: 44px;
}

.contentTitle{
    height:120px;
    background-color: #ffffff;
    padding-left: 360px;
    padding-top: 46px;
    font-size: 18px;
}


.content{
    margin-left: 390px;
    height:340px;
    width: 400px;
    background-color: #ffffff;
}
/* button style for login */
.btn{
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-weight: bolder;
}

.footer{
    height: 174px;
    background-color: #0e3149;
}

.footer img{
    height: 100px;
    width: 300px;
    margin-top: 45px;
    margin-left: 40%;
}

